
## Problem Statement:

Restaurants from all over the world can be found here in Bengaluru. From the United States to Japan, Russia to Antarctica, you get all types of cuisines here. Delivery, Dine-out, Pubs, Bars, Drinks, Buffet, Desserts you name it and Bengaluru has it. Bengaluru is the best place for foodies. The number of restaurants is increasing day by day. Currently, it stands at approximately 12,000 restaurants. With such a high number of restaurants. This industry hasn't been saturated yet. And new restaurants are opening every day. However, it has become difficult for them to compete with already established restaurants. The key issues that continue to pose a challenge to them include high real estate costs, rising food costs, shortage of quality manpower, fragmented supply chain, and over-licensing. This Zomato data aims at analyzing the demography of the location. Most importantly it will help new restaurants in deciding their theme, menus, cuisine, cost, etc for a particular location. It also aims at finding similarities between neighborhoods of Bengaluru on the basis of food. The dataset also contains reviews for each of the restaurants which will help in finding the overall rating for the place.


## Aim:

The basic idea of analyzing the Zomato dataset is to get a fair idea about the factors affecting the establishment of different types of restaurants at different places in Bengaluru, the aggregate rating of each restaurant, Bengaluru being one such city has more than 12,000 restaurants with restaurants serving dishes from all over the world. With each day new restaurants open the industry hasn't been saturated yet and the demand is increasing day by day. In spite of increasing demand, it however has become difficult for new restaurants to compete with established restaurants. Most of them serve the same food. Bengaluru is the IT capital of India. Most of the people here are dependent mainly on the restaurant food as they don’t have time to cook for themselves.



Use all the techniques which you are aware of and explore more, Try to find various factors that are hidden in the data.

### DATA DICTIONARY:


• **Restaurant Id:** Unique id of every restaurant across various cities of the world

• **Restaurant Name:** Name of the restaurant

• **Country Code:** Country in which restaurant is located

• **City:** City in which the restaurant is located

• **Address:** Address of the restaurant

• **Locality:** Location in the city

• **Locality Verbose:** Detailed description of the locality

• **Longitude:** Longitude coordinate of the restaurant's location

• **Latitude:** Latitude coordinate of the restaurant's location

• **Cuisines:** Cuisines offered by the restaurant

• **Average Cost for two:** Cost for two people in different currencies 

• **Currency:** Currency of the country

• **Has Table booking:** yes/no

• **Has Online delivery:** yes/ no

• **Is delivering:** yes/ no

• **Switch to order menu:** yes/no

• **Price range:** range of price of food

• **Aggregate Rating:** Average rating out of 5

• **Rating color:** depending upon the average rating color

• **Rating text:** text on the basis of rating of rating

• **Votes:** Number of ratings cast by people

### 1.Import libraries that you required and Load the data set.

In [101]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(style = 'whitegrid')
%matplotlib inline

In [102]:
file_path = r"C:\Users\PC\Downloads\Course Project - Zomato Case Study\Course Project - Zomato Case Study\Zomato.CSV" 
df = pd.read_csv(file_path)

### 2. Check the number of rows and columns in the dataset

In [103]:
df.shape

(10000, 18)

### 3. Check the info of the given dataset

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   10000 non-null  int64
 1   url                          10000 non-null  object
 2   address                      10000 non-null  object
 3   name                         10000 non-null  object
 4   online_order                 10000 non-null  object
 5   book_table                   10000 non-null  object
 6   rate                         8528 non-null   object
 7   votes                        10000 non-null  int64
 8   phone                        9764 non-null   object
 9   location                     9997 non-null   object
 10  rest_type                    9953 non-null   object
 11  dish_liked                   4642 non-null   object
 12  cuisines                     9995 non-null   object
 13  approx_cost(for two people)  9941 non-null   object
 14  reviews_list                 10000 non-null  object
 15  menu_item                    10000 non-null  object
 16  listed_in(type)              10000 non-null  object
 17  listed_in(city)              10000 non-null  object
dtypes: int64(2), object(16)
memory usage: 1.4+ MB

### 4.Which are the top 10 restaurant chains in Bangaluru?

In [105]:
Top_10_restaurant_chains = df['name'].value_counts().head(10)
print('Top_10_restaurant_chains')
print(Top_10_restaurant_chains)

Top_10_restaurant_chains
name
Cafe Coffee Day              18
Keventers                    17
Onesta                       17
McDonald's                   16
SGS Non Veg - Gundu Pulav    16
The Chocolate Heaven         16
Baskin Robbins               16
Mad Over Donuts              15
Tata Cha                     15
Petoo                        15
Name: count, dtype: int64

### 5.How many of the restuarants do not accept online orders?

In [106]:
count_no_online_orders = df[df['online_order'] == 'No'].shape[0]
print(f"Number of restaurants not accepting online orders: {count_no_online_orders}")

Number of restaurants not accepting online orders: 4057

### 6. Online and Offline orders restaurants percentage?

In [107]:
total_restaurants = df.shape[0]
online_orders = df[df['online_order'] == 'Yes'].shape[0]
offline_orders = df[df['online_order'] == 'No'].shape[0]

online_percentage = (online_orders / total_restaurants) * 100
offline_percentage = (offline_orders / total_restaurants) * 100

print(f"Percentage of restaurants accepting online orders: {online_percentage:.2f}%")
print(f"Percentage of restaurants not accepting online orders: {offline_percentage:.2f}%")

Percentage of restaurants accepting online orders: 59.43%
Percentage of restaurants not accepting online orders: 40.57%

### 7. What is the ratio b/w restaurants that provide and do not provide table booking.

In [108]:
total_restaurants = df.shape[0]
provides_table_booking = df[df['book_table'] == 'Yes'].shape[0]
does_not_provide_table_booking = df[df['book_table'] == 'No'].shape[0]


if does_not_provide_table_booking != 0:
    ratio = provides_table_booking / does_not_provide_table_booking
    print(f"Ratio of restaurants providing table booking to those not providing: {ratio:.2f}")
else:
    print("No restaurants do not provide table booking, ratio calculation not possible.")

Ratio of restaurants providing table booking to those not providing: 0.14

### 8. Check for missing values in rating column. Drop the missing value from the column and convert the column to numeric type. e.g "3.5/5" convert it to 3.5.

In [109]:
df['rate'].isnull().sum()

1472

In [110]:
df = df.dropna(subset=['rate'])

In [113]:
def convert_rating(rate):
    try:
        # Split the rating and take the first part (before '/')
        return float(rate.split('/')[0])
    except:
        return None

# Apply the conversion function to the rating column
df.loc[:, 'rate'] = df['rate'].apply(convert_rating)

# Optionally, drop any rows where the conversion resulted in None
df = df.dropna(subset=['rate'])

In [114]:
df.head()

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city),rating
0,14221,https://www.zomato.com/bangalore/shree-ranga-v...,"366, Hosur Main Road, Attibele, Anekal Taluk, ...",Shree Ranga Vilas,No,No,3.2,7,080 29765044,Electronic City,Casual Dining,NaN,"North Indian, South Indian, Chinese, Juices",500,"[('Rated 3.0', 'RATED\n Typical South Indian ...",[],Dine-out,Electronic City,3.2
1,43422,https://www.zomato.com/bangalore/sphyre-gatewa...,"Gateway Hotel, 66, Residency Road, Bangalore",Sphyre - Gateway Hotel,No,No,3.6,45,+91 9886643495\n+91 9898780004,Residency Road,Lounge,NaN,Finger Food,"1,700","[('Rated 1.0', 'RATED\n Expected a good night...",[],Dine-out,MG Road,3.6
2,16032,https://www.zomato.com/bangalore/popular-baker...,"19, BDA Complex, HSR, Bangalore",Popular Bakery,No,No,3.7,36,+91 8105834605\r\n080 25722488,HSR,"Dessert Parlor, Bakery",NaN,"Desserts, Bakery",600,"[('Rated 5.0', ""RATED\n This outlet is in HSR...",[],Delivery,HSR,3.7
3,51635,https://www.zomato.com/bangalore/thai-chinese-...,"7, Anurhh Arcade, Hoodi Road, Kodigehalli Road...",Thai & Chinese Fast Food,No,No,3.4,7,+91 9206260085\n+91 7619416923,KR Puram,Quick Bites,NaN,"Chinese, Thai",400,"[('Rated 5.0', 'RATED\n Its Looking delicious...",[],Dine-out,Whitefield,3.4
5,15103,https://www.zomato.com/bangalore/patisserie-ni...,"12, 2nd Cross, Hutchins Road, Off Davis Road, ...",Patisserie Nitash,No,No,4.2,142,+91 9845427364,Frazer Town,Bakery,"Patisserie Nitash, Brownie, Chocolate Cake, Ch...",Bakery,500,"[('Rated 5.0', ""RATED\n What if I told you th...",[],Delivery,Frazer Town,4.2

### 9. Convert the approx_cost(for two people) in numeric type after removing the ","

In [115]:
def clean_cost(cost):
    try:
        # Remove commas and convert to float
        return float(cost.replace(',', ''))
    except:
        return None

# Apply the cleaning function to the 'approx_cost(for two people)' column
df.loc[:,'approx_cost(for two people)'] = df['approx_cost(for two people)'].apply(clean_cost)

# Optionally, drop any rows where the conversion resulted in None
df = df.dropna(subset=['approx_cost(for two people)'])

In [116]:
df.head()

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city),rating
0,14221,https://www.zomato.com/bangalore/shree-ranga-v...,"366, Hosur Main Road, Attibele, Anekal Taluk, ...",Shree Ranga Vilas,No,No,3.2,7,080 29765044,Electronic City,Casual Dining,NaN,"North Indian, South Indian, Chinese, Juices",500.0,"[('Rated 3.0', 'RATED\n Typical South Indian ...",[],Dine-out,Electronic City,3.2
1,43422,https://www.zomato.com/bangalore/sphyre-gatewa...,"Gateway Hotel, 66, Residency Road, Bangalore",Sphyre - Gateway Hotel,No,No,3.6,45,+91 9886643495\n+91 9898780004,Residency Road,Lounge,NaN,Finger Food,1700.0,"[('Rated 1.0', 'RATED\n Expected a good night...",[],Dine-out,MG Road,3.6
2,16032,https://www.zomato.com/bangalore/popular-baker...,"19, BDA Complex, HSR, Bangalore",Popular Bakery,No,No,3.7,36,+91 8105834605\r\n080 25722488,HSR,"Dessert Parlor, Bakery",NaN,"Desserts, Bakery",600.0,"[('Rated 5.0', ""RATED\n This outlet is in HSR...",[],Delivery,HSR,3.7
3,51635,https://www.zomato.com/bangalore/thai-chinese-...,"7, Anurhh Arcade, Hoodi Road, Kodigehalli Road...",Thai & Chinese Fast Food,No,No,3.4,7,+91 9206260085\n+91 7619416923,KR Puram,Quick Bites,NaN,"Chinese, Thai",400.0,"[('Rated 5.0', 'RATED\n Its Looking delicious...",[],Dine-out,Whitefield,3.4
5,15103,https://www.zomato.com/bangalore/patisserie-ni...,"12, 2nd Cross, Hutchins Road, Off Davis Road, ...",Patisserie Nitash,No,No,4.2,142,+91 9845427364,Frazer Town,Bakery,"Patisserie Nitash, Brownie, Chocolate Cake, Ch...",Bakery,500.0,"[('Rated 5.0', ""RATED\n What if I told you th...",[],Delivery,Frazer Town,4.2

### 10. Find the maximum, minimum and average "approx_cost(for two people)" in each  "listed_in(city)" for each "listed_in(type)"

In [117]:
desc_stats = df.groupby(['listed_in(city)', 'listed_in(type)'])['approx_cost(for two people)'].agg(['max', 'min', 'mean']).reset_index()

# Rename columns for better readability
desc_stats.columns = ['City', 'Type', 'Max_Cost', 'Min_Cost', 'Average_Cost']

In [118]:
desc_stats.head()

  City      Type Max_Cost Min_Cost Average_Cost
0  BTM    Buffet   1600.0    750.0  1264.285714
1  BTM     Cafes    900.0    300.0   607.692308
2  BTM  Delivery   1600.0    100.0   463.764706
3  BTM  Desserts   1200.0    100.0   413.793103
4  BTM  Dine-out   1500.0     70.0   513.192771

### 11. Which are the most common restaurant type in Banglore (top 15)?

In [119]:
type_counts = df['listed_in(type)'].value_counts()

top_15_types = type_counts.head(15)

print(top_15_types)

listed_in(type)
Delivery              4067
Dine-out              2684
Desserts               543
Cafes                  280
Drinks & nightlife     202
Buffet                 163
Pubs and bars          131
Name: count, dtype: int64

### 12. Finding Best budget Restaurants in any given location. Create a function return_budget_resturant, the arguments to this function will be location and rest_type.The function should return a budget resturants in the given loaction. The price of a good budget resturant should be less than 400 and rating should be more than 4.

input - return_budget_resturant('HSR',"Quick Bites")
output - ['Asha Tiffins', 'Hotel Salam', 'The Mylapore Cafe']

In [120]:
def return_budget_restaurant(location, rest_type):
   
 
    # Filter data for the given location and restaurant type
    filtered_df = df[(df['location'] == location) & 
                     (df['rest_type'] == rest_type)]
    
    if filtered_df.empty:
        return "No data found for the specified location and type."

    # Filter for budget restaurants with cost < 400 and rating > 4
    budget_restaurants = filtered_df[
        (filtered_df['approx_cost(for two people)'] < 400) & 
        (filtered_df['rate'] > 4)
    ]
    
    if budget_restaurants.empty:
        return "No budget restaurants found with the specified criteria."
    
    # Return the names of these restaurants
    return budget_restaurants['name'].tolist()

# Example usage
result = return_budget_restaurant('HSR', 'Quick Bites')
print(result)

['Asha Tiffins', 'The Mylapore Cafe', 'The Mylapore Cafe', 'The Mylapore Cafe', 'The Mylapore Cafe', 'Asha Tiffins', 'Asha Tiffins', 'The Mylapore Cafe', 'Asha Tiffins', 'Asha Tiffins']

In [121]:
df.head()

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city),rating
0,14221,https://www.zomato.com/bangalore/shree-ranga-v...,"366, Hosur Main Road, Attibele, Anekal Taluk, ...",Shree Ranga Vilas,No,No,3.2,7,080 29765044,Electronic City,Casual Dining,NaN,"North Indian, South Indian, Chinese, Juices",500.0,"[('Rated 3.0', 'RATED\n Typical South Indian ...",[],Dine-out,Electronic City,3.2
1,43422,https://www.zomato.com/bangalore/sphyre-gatewa...,"Gateway Hotel, 66, Residency Road, Bangalore",Sphyre - Gateway Hotel,No,No,3.6,45,+91 9886643495\n+91 9898780004,Residency Road,Lounge,NaN,Finger Food,1700.0,"[('Rated 1.0', 'RATED\n Expected a good night...",[],Dine-out,MG Road,3.6
2,16032,https://www.zomato.com/bangalore/popular-baker...,"19, BDA Complex, HSR, Bangalore",Popular Bakery,No,No,3.7,36,+91 8105834605\r\n080 25722488,HSR,"Dessert Parlor, Bakery",NaN,"Desserts, Bakery",600.0,"[('Rated 5.0', ""RATED\n This outlet is in HSR...",[],Delivery,HSR,3.7
3,51635,https://www.zomato.com/bangalore/thai-chinese-...,"7, Anurhh Arcade, Hoodi Road, Kodigehalli Road...",Thai & Chinese Fast Food,No,No,3.4,7,+91 9206260085\n+91 7619416923,KR Puram,Quick Bites,NaN,"Chinese, Thai",400.0,"[('Rated 5.0', 'RATED\n Its Looking delicious...",[],Dine-out,Whitefield,3.4
5,15103,https://www.zomato.com/bangalore/patisserie-ni...,"12, 2nd Cross, Hutchins Road, Off Davis Road, ...",Patisserie Nitash,No,No,4.2,142,+91 9845427364,Frazer Town,Bakery,"Patisserie Nitash, Brownie, Chocolate Cake, Ch...",Bakery,500.0,"[('Rated 5.0', ""RATED\n What if I told you th...",[],Delivery,Frazer Town,4.2

### 13.Which are the most common cuisines in each locations.

In [122]:
df['cuisines'] = df['cuisines'].str.split(',\s*')

# Explode the 'cuisines' column to handle multiple cuisines per row
exploded_df = df.explode('cuisines')

# Group by location and cuisine, and count occurrences
cuisine_counts = exploded_df.groupby(['location', 'cuisines']).size().reset_index(name='count')

# Find the most common cuisines for each location
most_common_cuisines = cuisine_counts.loc[cuisine_counts.groupby('location')['count'].idxmax()]

print(most_common_cuisines)

               location      cuisines  count
38                  BTM  North Indian    368
75         Banashankari  North Indian     51
94            Banaswadi       Chinese     35
144   Bannerghatta Road  North Indian    106
176        Basavanagudi  North Indian     34
...                 ...           ...    ...
2078     West Bangalore      American      1
2120         Whitefield  North Indian    143
2146      Wilson Garden  North Indian     28
2149          Yelahanka       Biryani      1
2166        Yeshwantpur  North Indian     16

[87 rows x 3 columns]

In [123]:
most_common_cuisines.head()

              location      cuisines  count
38                 BTM  North Indian    368
75        Banashankari  North Indian     51
94           Banaswadi       Chinese     35
144  Bannerghatta Road  North Indian    106
176       Basavanagudi  North Indian     34

### 14. Which is  the most popular cuisine of Bangalore?

In [124]:
# Count occurrences of each cuisine
cuisine_counts = exploded_df['cuisines'].value_counts()

# Get the most popular cuisine
most_popular_cuisine = cuisine_counts.idxmax()
most_popular_cuisine_count = cuisine_counts.max()

print(f"The most popular cuisine in Bangalore is '{most_popular_cuisine}' with {most_popular_cuisine_count} occurrences.")

The most popular cuisine in Bangalore is 'North Indian' with 3360 occurrences.

In [125]:
df.head()

,Unnamed: 0,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city),rating
0,14221,https://www.zomato.com/bangalore/shree-ranga-v...,"366, Hosur Main Road, Attibele, Anekal Taluk, ...",Shree Ranga Vilas,No,No,3.2,7,080 29765044,Electronic City,Casual Dining,NaN,"[North Indian, South Indian, Chinese, Juices]",500.0,"[('Rated 3.0', 'RATED\n Typical South Indian ...",[],Dine-out,Electronic City,3.2
1,43422,https://www.zomato.com/bangalore/sphyre-gatewa...,"Gateway Hotel, 66, Residency Road, Bangalore",Sphyre - Gateway Hotel,No,No,3.6,45,+91 9886643495\n+91 9898780004,Residency Road,Lounge,NaN,[Finger Food],1700.0,"[('Rated 1.0', 'RATED\n Expected a good night...",[],Dine-out,MG Road,3.6
2,16032,https://www.zomato.com/bangalore/popular-baker...,"19, BDA Complex, HSR, Bangalore",Popular Bakery,No,No,3.7,36,+91 8105834605\r\n080 25722488,HSR,"Dessert Parlor, Bakery",NaN,"[Desserts, Bakery]",600.0,"[('Rated 5.0', ""RATED\n This outlet is in HSR...",[],Delivery,HSR,3.7
3,51635,https://www.zomato.com/bangalore/thai-chinese-...,"7, Anurhh Arcade, Hoodi Road, Kodigehalli Road...",Thai & Chinese Fast Food,No,No,3.4,7,+91 9206260085\n+91 7619416923,KR Puram,Quick Bites,NaN,"[Chinese, Thai]",400.0,"[('Rated 5.0', 'RATED\n Its Looking delicious...",[],Dine-out,Whitefield,3.4
5,15103,https://www.zomato.com/bangalore/patisserie-ni...,"12, 2nd Cross, Hutchins Road, Off Davis Road, ...",Patisserie Nitash,No,No,4.2,142,+91 9845427364,Frazer Town,Bakery,"Patisserie Nitash, Brownie, Chocolate Cake, Ch...",[Bakery],500.0,"[('Rated 5.0', ""RATED\n What if I told you th...",[],Delivery,Frazer Town,4.2